
.addToCart {
  background-image: url('https://cdn0.iconfinder.com/data/icons/webshop-essentials/100/shopping-cart-512.png');
  background-color:#f0c14b;
  border-color: #846a29;
  border-radius: 3px;
  background-position: 0px 0px;
  background-size: 25px;
  background-repeat: no-repeat;
  color: black;
  font-family: Arial, sans-serif;
  font-size: 13px;
  width: 100%;
  height: 29px;
  padding-left: 16px;
  vertical-align: middle;    
}

