
.container {
  margin-top: 10px;
}

.iconCart {
  width: 100px;
  float: left;
  margin-right:0.5em
}

.button {
  background-image: url('https://image.flaticon.com/icons/png/512/17/17437.png');
  background-color:#ed9220;
  background-position: 3px 2px;
  border-color: #a56616;
  border-radius: 3px;
  font-family: Arial, sans-serif;
  font-size: 13px;
  height: 29px;
  width: 100%;
  padding-left: 16px;
  vertical-align: middle;
  background-size: 24px;
  background-repeat: no-repeat;

}
